body { 
    padding-top: 65px; 
}

#nav-container {
    height: auto;
    background-color: white;
    border-bottom: thick solid #dddddd;
    margin: 0 0 40px 0;
}
.nav-center {
    width: 960px; 
    margin: 0 auto;
}
#name {
    height: auto;
    margin: 0;
    color: white;
    background-color: #4aaaa5;
    padding: 20px; 
    width: 22%;
    display: inline-block;
}
ul{
    display: inline-block;
    /* float: right; */
    list-style-type: none;
    margin: 0;
    padding: 16px;
}
li {
    height: 3px;
    float: right;
    text-decoration: none;
}
body {
    background-color: rgb(247, 241, 239);
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 3px;
    width: 100%;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-color: #ffffff; 
    width: 960px;
    margin: 0 auto; 
}
#img-container {
    display: flex;
    width: 960px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}
#portfolio {
    display: block;
    color: #4aaaa5;
    margin: 0 0 0 20px;
    padding: 20px 0 10px 0;
    border-bottom: 3px solid #dddddd;
    width: 915px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    flex-direction: row;
    width: 380px;
    height: auto;
    /* position: relative; */
}
.title {
    padding: 10px 32px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4aaaa5;
    margin: 0 0 20px 20px;
    color: white;
    width: 364px;
    /* position: absolute;
    bottom: 10px; */
}